@media (max-width: 768px) {
    .container {
        padding: 0 10px 0 10px;
    }

    .container .card {
        height: 380px;
        max-width: 375px;
    }

    .container .dice {
        height: 80px;
        width: 80px;
    }
}

@media (max-width: 400px) {
    .container {
        padding: 0 10px 0 10px;
    }

    .container .card {
        height: 380px;
        max-width: 330px;
    }

    .container .dice {
        height: 80px;
        width: 80px;
    }
}
